:root {
    background-color: burlywood;
}

.button {
    background-color: #c4971b;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 80px;
    margin: 4px 50px;
    cursor: pointer;
    }
.listContainer {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    /* 100% height of the viewport */
    height: 100px;
    
    }
.IngList {
        background-color: burlywood;
        height: 150px;
        width: 200px;
        font-size:larger;
        
    }

.MealIngList {
    background-color: burlywood;
    font-size:larger;
}

.PageContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display:flex;
}

.IngredientCreation {
    float:left;
    width: 50%;
    background-color: burlywood;
    outline: 5px solid rgb(170, 127, 46)
}

.IngredientDisplay {
    float:left;
    width: 50%;
    background-color: burlywood;
    outline: 2px solid rgb(170, 127, 46)
}

.MealSelectedIngredient {
    float:left;
    width: 30%;
    background-color: burlywood;
    outline: 2px solid rgb(170, 127, 46)
}
.MealsOfTheDay {
    float:left;
    width: 50%;
    background-color: burlywood;
    outline: 2px solid rgb(170, 127, 46)
}

.MealSelectedIngredientServings {
    float:left;
    width: 50%;
    background-color: burlywood;
    outline: 2px solid rgb(170, 127, 46)
}